In [119]:
import pandas as pd

In [120]:
data = pd.read_csv('fx_data.csv')

In [121]:
data.head()

,Date,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close,EURUSD_Adj Close,USDJPY_Open,USDJPY_High,USDJPY_Low,USDJPY_Close,...,USDZAR_Open,USDZAR_High,USDZAR_Low,USDZAR_Close,USDZAR_Adj Close,USDRUB_Open,USDRUB_High,USDRUB_Low,USDRUB_Close,USDRUB_Adj Close
0,2023-10-06 00:00:00,1.055186,1.060220,1.048548,1.059322,1.059322,148.490997,149.535995,148.354004,149.274002,...,19.507299,19.634830,19.252199,19.507299,19.507299,100.089996,101.580002,99.185997,100.089996,100.089996
1,2023-10-05 00:00:00,1.050707,1.053685,1.050089,1.050707,1.050707,148.966003,149.100006,148.306000,148.966003,...,19.319599,19.636299,19.261999,19.319599,19.319599,99.464996,100.139999,99.167503,99.464996,99.464996
2,2023-10-06 00:00:00,1.054663,1.059816,1.048394,1.054663,1.054663,148.462997,149.488007,148.464996,148.462997,...,19.507299,19.634830,19.252199,19.507299,19.507299,100.089996,101.580002,99.185997,100.089996,100.089996
3,2023-10-04 00:00:00,1.047230,1.053241,1.045369,1.047230,1.047230,149.192001,149.306000,148.740005,149.192001,...,19.298100,19.430201,19.170111,19.298100,19.298100,100.964996,100.964996,98.404999,100.964996,100.964996
4,2023-10-03 00:00:00,1.048075,1.049428,1.044987,1.048075,1.048075,149.850998,150.141998,148.712006,149.850998,...,19.212000,19.375650,19.204300,19.212000,19.212000,98.764999,100.264999,98.169998,98.764999,98.764999

In [122]:
data.shape

(4937, 121)

In [123]:
columns = ['Date']+[col for col in data.columns if col.split(' ')[-1].lower()=='close']
columns

['Date',
 'EURUSD_Adj Close',
 'USDJPY_Adj Close',
 'GBPUSD_Adj Close',
 'AUDUSD_Adj Close',
 'NZDUSD_Adj Close',
 'GBPJPY_Adj Close',
 'EURGBP_Adj Close',
 'EURCAD_Adj Close',
 'EURSEK_Adj Close',
 'EURCHF_Adj Close',
 'EURHUF_Adj Close',
 'USDCNY_Adj Close',
 'USDHKD_Adj Close',
 'USDSGD_Adj Close',
 'USDINR_Adj Close',
 'USDMXN_Adj Close',
 'USDPHP_Adj Close',
 'USDIDR_Adj Close',
 'USDTHB_Adj Close',
 'USDMYR_Adj Close',
 'USDZAR_Adj Close',
 'USDRUB_Adj Close']

In [124]:
data = data[columns]
data.columns = ['date']+['_'.join(col.lower().split('_')[:-1]) for col in columns if col!='Date']

In [125]:
data.head()

,date,eurusd,usdjpy,gbpusd,audusd,nzdusd,gbpjpy,eurgbp,eurcad,eursek,...,usdhkd,usdsgd,usdinr,usdmxn,usdphp,usdidr,usdthb,usdmyr,usdzar,usdrub
0,2023-10-06 00:00:00,1.059322,149.274002,1.223691,0.637105,0.596641,182.744995,0.86499,1.44551,11.61481,...,7.8311,1.36737,83.224899,18.278139,56.631001,15631.0,36.935001,4.7250,19.507299,100.089996
1,2023-10-05 00:00:00,1.050707,148.966003,1.213740,0.632910,0.591870,180.789001,0.86561,1.44403,11.61346,...,7.8288,1.37178,83.449799,17.978100,56.609001,15591.0,36.916000,4.7290,19.319599,99.464996
2,2023-10-06 00:00:00,1.054663,148.462997,1.218769,0.637105,0.596641,180.921997,0.86529,1.44551,11.61481,...,7.8311,1.36737,83.224899,18.278139,56.631001,15631.0,36.935001,4.7250,19.507299,100.089996
3,2023-10-04 00:00:00,1.047230,149.192001,1.207846,0.630890,0.591349,180.182007,0.86672,1.43470,11.59459,...,7.8326,1.37343,83.229797,18.009399,56.830002,15622.0,37.090000,4.7220,19.298100,100.964996
4,2023-10-03 00:00:00,1.048075,149.850998,1.209117,0.636270,0.594191,181.173004,0.86674,1.43326,11.58276,...,7.8319,1.37333,83.359398,17.662500,56.764000,15516.0,37.023998,4.7145,19.212000,98.764999

In [126]:
data.columns

Index(['date', 'eurusd', 'usdjpy', 'gbpusd', 'audusd', 'nzdusd', 'gbpjpy',
       'eurgbp', 'eurcad', 'eursek', 'eurchf', 'eurhuf', 'usdcny', 'usdhkd',
       'usdsgd', 'usdinr', 'usdmxn', 'usdphp', 'usdidr', 'usdthb', 'usdmyr',
       'usdzar', 'usdrub'],
      dtype='object')

In [127]:
data['date'] = pd.to_datetime(data['date'].apply(lambda d: d.split('+')[0]), format = '%Y-%m-%d %H:%M:%S')
data.sort_values(by='date', inplace = True)

In [128]:
data.head()

,date,eurusd,usdjpy,gbpusd,audusd,nzdusd,gbpjpy,eurgbp,eurcad,eursek,...,usdhkd,usdsgd,usdinr,usdmxn,usdphp,usdidr,usdthb,usdmyr,usdzar,usdrub
4631,2003-12-01,1.196501,109.169998,1.718597,NaN,0.644288,187.630005,0.6957,1.5596,9.0150,...,7.7650,1.7217,45.709999,11.358,55.470001,8498.400391,39.889999,3.7968,6.3423,29.700001
4632,2003-12-02,1.208897,108.730003,1.730313,NaN,0.646204,188.009995,0.6980,1.5670,9.0078,...,7.7594,1.7200,45.629002,11.290,55.470001,8486.099609,39.848999,3.7971,6.2951,29.690001
4633,2003-12-03,1.212298,108.300003,1.728101,NaN,0.649519,187.089996,0.7007,1.5759,8.9720,...,7.7604,1.7161,45.549999,11.245,55.470001,8467.900391,39.806999,3.7902,6.1924,29.690001
4634,2003-12-04,1.208094,108.269997,1.720697,NaN,0.645911,186.220001,0.7018,1.5829,8.9610,...,7.7663,1.7135,45.548000,11.188,55.020000,8492.500000,39.869999,3.7987,6.3351,29.680000
4635,2003-12-05,1.218695,107.620003,1.733102,NaN,0.645120,185.880005,0.7030,1.5876,8.9431,...,7.7597,1.7140,45.449001,11.197,55.250000,8469.099609,39.813000,3.7896,6.2201,29.620001

In [129]:
data.tail()

,date,eurusd,usdjpy,gbpusd,audusd,nzdusd,gbpjpy,eurgbp,eurcad,eursek,...,usdhkd,usdsgd,usdinr,usdmxn,usdphp,usdidr,usdthb,usdmyr,usdzar,usdrub
4,2023-10-03,1.048075,149.850998,1.209117,0.636270,0.594191,181.173004,0.86674,1.43326,11.58276,...,7.8319,1.37333,83.359398,17.662500,56.764000,15516.0,37.023998,4.7145,19.212000,98.764999
3,2023-10-04,1.047230,149.192001,1.207846,0.630890,0.591349,180.182007,0.86672,1.43470,11.59459,...,7.8326,1.37343,83.229797,18.009399,56.830002,15622.0,37.090000,4.7220,19.298100,100.964996
1,2023-10-05,1.050707,148.966003,1.213740,0.632910,0.591870,180.789001,0.86561,1.44403,11.61346,...,7.8288,1.37178,83.449799,17.978100,56.609001,15591.0,36.916000,4.7290,19.319599,99.464996
2,2023-10-06,1.054663,148.462997,1.218769,0.637105,0.596641,180.921997,0.86529,1.44551,11.61481,...,7.8311,1.36737,83.224899,18.278139,56.631001,15631.0,36.935001,4.7250,19.507299,100.089996
0,2023-10-06,1.059322,149.274002,1.223691,0.637105,0.596641,182.744995,0.86499,1.44551,11.61481,...,7.8311,1.36737,83.224899,18.278139,56.631001,15631.0,36.935001,4.7250,19.507299,100.089996

In [130]:
data.shape

(4937, 23)

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4937 entries, 4631 to 0
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4937 non-null   datetime64[ns]
 1   eurusd  4937 non-null   float64
 2   usdjpy  4935 non-null   float64
 3   gbpusd  4932 non-null   float64
 4   audusd  4297 non-null   float64
 5   nzdusd  4920 non-null   float64
 6   gbpjpy  4934 non-null   float64
 7   eurgbp  4936 non-null   float64
 8   eurcad  4934 non-null   float64
 9   eursek  4935 non-null   float64
 10  eurchf  4933 non-null   float64
 11  eurhuf  4933 non-null   float64
 12  usdcny  4922 non-null   float64
 13  usdhkd  4934 non-null   float64
 14  usdsgd  4931 non-null   float64
 15  usdinr  4930 non-null   float64
 16  usdmxn  4936 non-null   float64
 17  usdphp  4928 non-null   float64
 18  usdidr  4933 non-null   float64
 19  usdthb  4934 non-null   float64
 20  usdmyr  4934 non-null   float64
 21  usdzar  4934 non-null   float64
 22  usdrub  4826 non-null   float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 925.7 KB

In [132]:
data.isna().sum()*100/data.shape[0]

date       0.000000
eurusd     0.000000
usdjpy     0.040510
gbpusd     0.101276
audusd    12.963338
nzdusd     0.344339
gbpjpy     0.060766
eurgbp     0.020255
eurcad     0.060766
eursek     0.040510
eurchf     0.081021
eurhuf     0.081021
usdcny     0.303828
usdhkd     0.060766
usdsgd     0.121531
usdinr     0.141787
usdmxn     0.020255
usdphp     0.182297
usdidr     0.081021
usdthb     0.060766
usdmyr     0.060766
usdzar     0.060766
usdrub     2.248329
dtype: float64

In [133]:
del data['audusd']

In [134]:
data.dropna(inplace=True)

In [135]:
data.head()

,date,eurusd,usdjpy,gbpusd,nzdusd,gbpjpy,eurgbp,eurcad,eursek,eurchf,...,usdhkd,usdsgd,usdinr,usdmxn,usdphp,usdidr,usdthb,usdmyr,usdzar,usdrub
4631,2003-12-01,1.196501,109.169998,1.718597,0.644288,187.630005,0.6957,1.5596,9.0150,1.5525,...,7.7650,1.7217,45.709999,11.358,55.470001,8498.400391,39.889999,3.7968,6.3423,29.700001
4632,2003-12-02,1.208897,108.730003,1.730313,0.646204,188.009995,0.6980,1.5670,9.0078,1.5562,...,7.7594,1.7200,45.629002,11.290,55.470001,8486.099609,39.848999,3.7971,6.2951,29.690001
4633,2003-12-03,1.212298,108.300003,1.728101,0.649519,187.089996,0.7007,1.5759,8.9720,1.5579,...,7.7604,1.7161,45.549999,11.245,55.470001,8467.900391,39.806999,3.7902,6.1924,29.690001
4634,2003-12-04,1.208094,108.269997,1.720697,0.645911,186.220001,0.7018,1.5829,8.9610,1.5560,...,7.7663,1.7135,45.548000,11.188,55.020000,8492.500000,39.869999,3.7987,6.3351,29.680000
4635,2003-12-05,1.218695,107.620003,1.733102,0.645120,185.880005,0.7030,1.5876,8.9431,1.5504,...,7.7597,1.7140,45.449001,11.197,55.250000,8469.099609,39.813000,3.7896,6.2201,29.620001

In [136]:
data.to_csv('clean_fx_data.csv', index=False)